avatar-wrap {
  width: 100%;
}

.avatar {
  background-image: url("images/portrait.jpg");
  width: 150px;
  height: 150px;
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: solid 2px white;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}